:root {
   --primary-text: #331904;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

article {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}

article section {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

article section h3 {
  margin-bottom: 0.25rem;
}

article section p {
  margin-bottom: 0.5rem;
}

body {
  margin: 0 auto;
  background: url("resources/images/parchment.jpg");
  max-width: 70%;
  color: var(--primary-text);
}

h1 {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}